[
  {
    "url" : "\/Clipboard.clipboard",
    "enabled" : true,
    "hideIfActive" : false,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "keyCode" : 49,
    "order" : 0,
    "modifierFlags" : 1179648
  },
  {
    "hideIfActive" : false,
    "modifierFlags" : 1179648,
    "keyCode" : 46,
    "bookmark" : "Ym9va0ACAAAAAAQQMAAAAJmieSelewvFKvGfeeTo6pkSXA\/9U8xbZocC2UfxnQgbYAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwgAAAABAQAATWFpbC5hcHAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAABcAAAD\/\/\/8PCAAAAAQDAADjGQAA\/\/\/\/DwwAAAABBgAAWAAAAGgAAAB4AAAACAAAAAAEAABBxLkawwAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAACQAAAABAQAARTZGRUU2OEYtNUM1Ri00MTJGLTkxMjktMUEwNEQyMjYzNUYzGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEQAAAAAAAAABRAAAIgAAAAAAAAAEBAAAKwAAAAAAAAAQBAAAJwAAAAAAAAAAiAAAEwBAAAAAAAABSAAAMwAAAAAAAAAECAAANwAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAAEyAAAJwAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAAAAAAENAAAAQAAAAAAAAA",
    "order" : 1,
    "openSelectedFolders" : true,
    "url" : "\/System\/Applications\/Mail.app",
    "enabled" : true,
    "openSelectedFiles" : true
  },
  {
    "openSelectedFolders" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAPDQMyA9khBRIjrarUztzRDZqv3Uoe4o0HmpaRVV0VwBTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABIb3RLZXkuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAB92QgAAAAAAAgAAAAEAwAABm4mAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwrgSBQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAIcROQAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAADBBQTFCOEVFLTI2MzMtNEEwQi05OTAwLUQxMTRDN0I5MEI3RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "enabled" : true,
    "url" : "\/Applications\/HotKey.app",
    "openSelectedFiles" : true,
    "hideIfActive" : false,
    "modifierFlags" : 262401,
    "keyCode" : 47,
    "order" : 1
  },
  {
    "order" : 2,
    "hideIfActive" : false,
    "openSelectedFolders" : true,
    "enabled" : false,
    "keyCode" : 36,
    "openSelectedFiles" : false,
    "modifierFlags" : 1179648,
    "bookmark" : "Ym9va3ACAAAAAAQQMAAAANxKjFCFR\/zHIzDfNEAjGbTTpT9R6epjq5m41+3OaztVkAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAAVXRpbGl0aWVzAAAADAAAAAEBAABUZXJtaW5hbC5hcHAQAAAAAQYAABAAAAAgAAAANAAAAEgAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAA1T4BAP\/\/\/w8IAAAABAMAAJ+sAQD\/\/\/8PEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAAAAAEAABBwd5EgAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAIcROQAAACQAAAABAQAAMEFBMUI4RUUtMjYzMy00QTBCLTk5MDAtRDExNEM3QjkwQjdFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAFwAAAAAAAAABRAAALQAAAAAAAAAEBAAANwAAAAAAAAAQBAAAMwAAAAAAAAAAiAAAHwBAAAAAAAABSAAAPwAAAAAAAAAECAAAAwBAAAAAAAAESAAADABAAAAAAAAEiAAACABAAAAAAAAEyAAAMwAAAAAAAAAICAAAFwBAAAAAAAAMCAAAIgBAAAAAAAAENAAAAQAAAAAAAAA",
    "url" : "\/System\/Applications\/Utilities\/Terminal.app"
  },
  {
    "openSelectedFiles" : true,
    "bookmark" : "Ym9va2wCAAAAAAQQMAAAAAMpPkZeFfptNdCvJlrF4nPjvoOkT588n82LZmm7+mf3jAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAHAAAAAQEAAExpYnJhcnkADAAAAAEBAABDb3JlU2VydmljZXMKAAAAAQEAAEZpbmRlci5hcHAAABAAAAABBgAAEAAAACAAAAAwAAAARAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAAJXCAQD\/\/\/8PCAAAAAQDAAANugMA\/\/\/\/DwgAAAAEAwAAeTEEAP\/\/\/w8QAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQAAEHB3kSAAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAAhxE5AAAAJAAAAAEBAAAwQUExQjhFRS0yNjMzLTRBMEItOTkwMC1EMTE0QzdCOTBCN0UYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAWAAAAAAAAAAFEAAAsAAAAAAAAAAQEAAA2AAAAAAAAABAEAAAyAAAAAAAAAACIAAAeAEAAAAAAAAFIAAA+AAAAAAAAAAQIAAACAEAAAAAAAARIAAALAEAAAAAAAASIAAAHAEAAAAAAAATIAAAyAAAAAAAAAAgIAAAWAEAAAAAAAAwIAAAhAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "modifierFlags" : 262401,
    "enabled" : true,
    "url" : "\/System\/Library\/CoreServices\/Finder.app",
    "keyCode" : 14,
    "order" : 3
  },
  {
    "openSelectedFiles" : true,
    "url" : "\/System\/Applications\/Calculator.app",
    "openSelectedFolders" : true,
    "modifierFlags" : 262401,
    "enabled" : true,
    "keyCode" : 15,
    "hideIfActive" : false,
    "order" : 4,
    "bookmark" : "Ym9va0gCAAAAAAQQMAAAAFI\/4t7BIU9pl9qnH4daiTskdH0LYqeIZaoiBhroRo7JaAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucw4AAAABAQAAQ2FsY3VsYXRvci5hcHAAAAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAVAAAA\/\/\/\/DwgAAAAEAwAAFwAAAP\/\/\/w8IAAAABAMAAGQjAAD\/\/\/8PDAAAAAEGAABgAAAAcAAAAIAAAAAIAAAAAAQAAEHB3kSAAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAAhxE5AAAAJAAAAAEBAAAwQUExQjhFRS0yNjMzLTRBMEItOTkwMC1EMTE0QzdCOTBCN0UYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAATAAAAAAAAAAFEAAAkAAAAAAAAAAQEAAAtAAAAAAAAABAEAAApAAAAAAAAAACIAAAVAEAAAAAAAAFIAAA1AAAAAAAAAAQIAAA5AAAAAAAAAARIAAACAEAAAAAAAASIAAA+AAAAAAAAAATIAAApAAAAAAAAAAgIAAANAEAAAAAAAAwIAAAYAEAAAAAAAAQ0AAABAAAAAAAAAA="
  },
  {
    "order" : 5,
    "hideIfActive" : false,
    "url" : "\/System\/Applications\/Utilities\/Activity Monitor.app",
    "openSelectedFolders" : true,
    "enabled" : true,
    "openSelectedFiles" : true,
    "modifierFlags" : 1310985,
    "keyCode" : 51,
    "bookmark" : "Ym9va3gCAAAAAAQQMAAAAPQyRDimuIJQGWecEABkLw3QPKix7gWCbay9mMSrOstqmAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAAVXRpbGl0aWVzAAAAFAAAAAEBAABBY3Rpdml0eSBNb25pdG9yLmFwcBAAAAABBgAAEAAAACAAAAA0AAAASAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAABcAAAD\/\/\/8PCAAAAAQDAADVPgEA\/\/\/\/DwgAAAAEAwAA1z4BAP\/\/\/w8QAAAAAQYAAHwAAACMAAAAnAAAAKwAAAAIAAAAAAQAAEHB3kSAAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAAhxE5AAAAJAAAAAEBAAAwQUExQjhFRS0yNjMzLTRBMEItOTkwMC1EMTE0QzdCOTBCN0UYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAZAAAAAAAAAAFEAAAvAAAAAAAAAAQEAAA5AAAAAAAAABAEAAA1AAAAAAAAAACIAAAhAEAAAAAAAAFIAAABAEAAAAAAAAQIAAAFAEAAAAAAAARIAAAOAEAAAAAAAASIAAAKAEAAAAAAAATIAAA1AAAAAAAAAAgIAAAZAEAAAAAAAAwIAAAkAEAAAAAAAAQ0AAABAAAAAAAAAA="
  },
  {
    "enabled" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAI851cr2d6hJOdj9urDhZKWrDa1nC93jD4MQIqS5Vbo4TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABpVGVybS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAD0JtcDAAAAAAgAAAAEAwAAUsN5BAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxDUK5QAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAIcROQAAAAgAAAAABAAAQcP3ezSAAAAkAAAAAQEAADBBQTFCOEVFLTI2MzMtNEEwQi05OTAwLUQxMTRDN0I5MEI3RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "modifierFlags" : 1179914,
    "openSelectedFiles" : true,
    "openSelectedFolders" : true,
    "keyCode" : 36,
    "hideIfActive" : false,
    "url" : "\/Applications\/iTerm.app",
    "order" : 6
  },
  {
    "openSelectedFolders" : true,
    "order" : 7,
    "enabled" : true,
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "modifierFlags" : 262401,
    "url" : "\/System\/Applications\/System Settings.app",
    "bookmark" : "Ym9va0wCAAAAAAQQMAAAAN6YOMEFnRiFvSScHnZ\/FjpQ8h7IBHum4WBgtt9Na+GIbAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucxMAAAABAQAAU3lzdGVtIFNldHRpbmdzLmFwcAAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAABcAAAD\/\/\/8PCAAAAAQDAAAEXAAA\/\/\/\/DwwAAAABBgAAZAAAAHQAAACEAAAACAAAAAAEAABBxH9qooAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAIcROQAAACQAAAABAQAAMEFBMUI4RUUtMjYzMy00QTBCLTk5MDAtRDExNEM3QjkwQjdFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAFAAAAAAAAAABRAAAJQAAAAAAAAAEBAAALgAAAAAAAAAQBAAAKgAAAAAAAAAAiAAAFgBAAAAAAAABSAAANgAAAAAAAAAECAAAOgAAAAAAAAAESAAAAwBAAAAAAAAEiAAAPwAAAAAAAAAEyAAAKgAAAAAAAAAICAAADgBAAAAAAAAMCAAAGQBAAAAAAAAENAAAAQAAAAAAAAA",
    "keyCode" : 34
  }
]